<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496133680393-i6gufisfls348fhllt6kq8bup4a87ndp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496133680393-i6gufisfls348fhllt6kq8bup4a87ndp</string>
	<key>API_KEY</key>
	<string>AIzaSyBP7qCS23OMcQEcYh91-b9XXyJ-f8SLsTk</string>
	<key>GCM_SENDER_ID</key>
	<string>496133680393</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akf.WalkingChallenge</string>
	<key>PROJECT_ID</key>
	<string>akf-test</string>
	<key>STORAGE_BUCKET</key>
	<string>akf-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496133680393:ios:3b84ea21c33b0fdc49f7d8</string>
	<key>DATABASE_URL</key>
	<string>https://akf-test.firebaseio.com</string>
</dict>
</plist>