<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>312206975123-v1nel13i562ir77rpr0690lnfrst278n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.312206975123-v1nel13i562ir77rpr0690lnfrst278n</string>
	<key>API_KEY</key>
	<string>AIzaSyBxMzOX4HYOzz6ZqKLp-J75Hqk0no9NbpE</string>
	<key>GCM_SENDER_ID</key>
	<string>312206975123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akf.WalkingChallenge</string>
	<key>PROJECT_ID</key>
	<string>steps4impact-15f2a</string>
	<key>STORAGE_BUCKET</key>
	<string>steps4impact-15f2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:312206975123:ios:99daa77ff0039316956d66</string>
	<key>DATABASE_URL</key>
	<string>https://steps4impact-15f2a.firebaseio.com</string>
</dict>
</plist>